/* line 1, ../scss/animation.scss */
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

/* line 2, ../scss/animation.scss */
.animated.hinge {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes fadeIn {
  /* line 3, ../scss/animation.scss */
  0% {
    opacity: 0;
  }

  /* line 3, ../scss/animation.scss */
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  /* line 7, ../scss/animation.scss */
  0% {
    opacity: 0;
  }

  /* line 8, ../scss/animation.scss */
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  /* line 12, ../scss/animation.scss */
  0% {
    opacity: 0;
  }

  /* line 13, ../scss/animation.scss */
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  /* line 17, ../scss/animation.scss */
  0% {
    opacity: 0;
  }

  /* line 18, ../scss/animation.scss */
  100% {
    opacity: 1;
  }
}
/* line 21, ../scss/animation.scss */
.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}

@keyframes pulse {
  /* line 30, ../scss/animation.scss */
  0% {
    opacity: 0.5;
  }

  /* line 31, ../scss/animation.scss */
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes pulse {
  /* line 34, ../scss/animation.scss */
  0% {
    opacity: 0.5;
  }

  /* line 35, ../scss/animation.scss */
  100% {
    opacity: 1;
  }
}
@-moz-keyframes pulse {
  /* line 38, ../scss/animation.scss */
  0% {
    opacity: 0.5;
  }

  /* line 39, ../scss/animation.scss */
  100% {
    opacity: 1;
  }
}
@-ms-keyframes pulse {
  /* line 42, ../scss/animation.scss */
  0% {
    opacity: 0.5;
  }

  /* line 43, ../scss/animation.scss */
  100% {
    opacity: 1;
  }
}
@-o-keyframes pulse {
  /* line 46, ../scss/animation.scss */
  0% {
    opacity: 0.5;
  }

  /* line 47, ../scss/animation.scss */
  100% {
    opacity: 1;
  }
}
