/*
Syntax error: Undefined variable: "$headerColor".
        on line 2 of C:/xampp/htdocs/nicola-zanon/scss/hacks.scss

1: C:/xampp/htdocs/nicola-zanon/scss/hacks.scss

Backtrace:
C:/xampp/htdocs/nicola-zanon/scss/hacks.scss:2
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/script/tree/variable.rb:49:in `_perform'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/script/tree/node.rb:50:in `perform'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/script/tree/funcall.rb:169:in `perform_arg'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/script/tree/funcall.rb:124:in `block in _perform'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/script/tree/funcall.rb:124:in `each'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/script/tree/funcall.rb:124:in `each_with_index'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/script/tree/funcall.rb:124:in `each'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/script/tree/funcall.rb:124:in `map'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/script/tree/funcall.rb:124:in `_perform'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/script/tree/node.rb:50:in `perform'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/script/tree/list_literal.rb:63:in `block in _perform'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/script/tree/list_literal.rb:63:in `map'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/script/tree/list_literal.rb:63:in `_perform'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/script/tree/node.rb:50:in `perform'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:373:in `visit_prop'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:153:in `block in visit'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:79:in `block in with_base'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:115:in `with_frame'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:79:in `with_base'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:153:in `visit'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:396:in `block (2 levels) in visit_rule'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:396:in `map'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:396:in `block in visit_rule'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:174:in `with_environment'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:394:in `visit_rule'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:153:in `block in visit'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:79:in `block in with_base'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:115:in `with_frame'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:79:in `with_base'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:153:in `visit'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit_children'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:174:in `with_environment'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:161:in `visit_children'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:181:in `visit_root'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:152:in `visit'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/tree/root_node.rb:20:in `render'
C:/Program Files (x86)/Prepros/gems/gems/sass-3.3.0.rc.2/lib/sass/engine.rb:275:in `render'
C:/Program Files (x86)/Prepros/gems/gems/compass-1.0.0.alpha.13/lib/compass/compiler.rb:147:in `block (2 levels) in compile'
C:/Program Files (x86)/Prepros/gems/gems/compass-1.0.0.alpha.13/lib/compass/compiler.rb:133:in `timed'
C:/Program Files (x86)/Prepros/gems/gems/compass-1.0.0.alpha.13/lib/compass/compiler.rb:146:in `block in compile'
C:/Program Files (x86)/Prepros/gems/gems/compass-1.0.0.alpha.13/lib/compass/logger.rb:46:in `red'
C:/Program Files (x86)/Prepros/gems/gems/compass-1.0.0.alpha.13/lib/compass/compiler.rb:145:in `compile'
C:/Program Files (x86)/Prepros/gems/gems/compass-1.0.0.alpha.13/lib/compass/compiler.rb:125:in `compile_if_required'
C:/Program Files (x86)/Prepros/gems/gems/compass-1.0.0.alpha.13/lib/compass/compiler.rb:110:in `block (2 levels) in run'
C:/Program Files (x86)/Prepros/gems/gems/compass-1.0.0.alpha.13/lib/compass/compiler.rb:108:in `each'
C:/Program Files (x86)/Prepros/gems/gems/compass-1.0.0.alpha.13/lib/compass/compiler.rb:108:in `block in run'
C:/Program Files (x86)/Prepros/gems/gems/compass-1.0.0.alpha.13/lib/compass/compiler.rb:133:in `timed'
C:/Program Files (x86)/Prepros/gems/gems/compass-1.0.0.alpha.13/lib/compass/compiler.rb:107:in `run'
C:/Program Files (x86)/Prepros/gems/gems/compass-1.0.0.alpha.13/lib/compass/commands/update_project.rb:45:in `perform'
C:/Program Files (x86)/Prepros/gems/gems/compass-1.0.0.alpha.13/lib/compass/commands/base.rb:18:in `execute'
C:/Program Files (x86)/Prepros/gems/gems/compass-1.0.0.alpha.13/lib/compass/commands/project_base.rb:19:in `execute'
C:/Program Files (x86)/Prepros/gems/gems/compass-1.0.0.alpha.13/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
C:/Program Files (x86)/Prepros/gems/gems/compass-1.0.0.alpha.13/lib/compass/exec/sub_command_ui.rb:15:in `run!'
C:/Program Files (x86)/Prepros/gems/gems/compass-1.0.0.alpha.13/bin/compass:30:in `block in <top (required)>'
C:/Program Files (x86)/Prepros/gems/gems/compass-1.0.0.alpha.13/bin/compass:44:in `call'
C:/Program Files (x86)/Prepros/gems/gems/compass-1.0.0.alpha.13/bin/compass:44:in `<top (required)>'
C:/Program Files (x86)/Prepros/bin/gems.rb:17:in `load'
C:/Program Files (x86)/Prepros/bin/gems.rb:17:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$headerColor\".\A         on line 2 of C:/xampp/htdocs/nicola-zanon/scss/hacks.scss\A \A 1: C:/xampp/htdocs/nicola-zanon/scss/hacks.scss"; }
