.icon-new-sw {
	background-image: url('../img/logos/sw-logo.png');
    background-repeat: no-repeat;
}
.icon-new-moba {
	background-image: url('../img/logos/moba-logo.png');
    background-repeat: no-repeat;
}
.icon-new-ignite {
	background-image: url('../img/logos/ignite-hospitality_logo.png');
    background-repeat: no-repeat;
}
.icon-new-aurora {
	background-image: url('../img/logos/aurora.png');
    background-repeat: no-repeat;
}


.icon-new-60 {
	background-image: url('../img/logos/60days.png');
    background-repeat: no-repeat;
}
.icon-new-360 {
	background-image: url('../img/logos/360-marketing-suite2.png');
    background-repeat: no-repeat;
}
.icon-new-artist {
	background-image: url('../img/logos/artist-residence.png');
    background-repeat: no-repeat;
}
.icon-new-clink {
	background-image: url('../img/logos/clink-logo.png');
    background-repeat: no-repeat;
}

.icon-new-ca {
	background-image: url('../img/logos/ca-logo.png');
    background-repeat: no-repeat;
}
.icon-new-ck {
	background-image: url('../img/logos/ck-logo.png');
    background-repeat: no-repeat;
}
.icon-new-cs {
	background-image: url('../img/logos/cs-logo.png');
    background-repeat: no-repeat;
}
.icon-new-cc {
	background-image: url('../img/logos/cc-logo.png');
    background-repeat: no-repeat;
}


.icon-new-cl {
	background-image: url('../img/logos/cl-logo.png');
    background-repeat: no-repeat;
}
.icon-new-dd {
	background-image: url('../img/logos/danddlogo.png');
    background-repeat: no-repeat;
}
.icon-new-flambe {
	background-image: url('../img/logos/flambe.png');
    background-repeat: no-repeat;
}
.icon-new-gg {
	background-image: url('../img/logos/gg-logo.png');
    background-repeat: no-repeat;
}


.icon-new-wg {
	background-image: url('../img/logos/wg-logo-color.png');
    background-repeat: no-repeat;
}
.icon-new-cdd {
	background-image: url('../img/logos/club-dd.png');
    background-repeat: no-repeat;
}
.icon-new-cryo {
	background-image: url('../img/logos/cryoskin-logo.png');
    background-repeat: no-repeat;
}
