.animated{
	-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}.animated.hinge{-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}@-webkit-keyframes fadeIn {
	0% {opacity: 0;}	100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-o-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
}


@keyframes pulse {
	0%   { opacity: 0.5 }
	100% { opacity: 1; }
}
@-webkit-keyframes pulse {
	0%   { opacity: 0.5 }
	100% { opacity: 1; }
}
@-moz-keyframes pulse {
	0%   { opacity: 0.5 }
	100% { opacity: 1; }
}
@-ms-keyframes pulse {
	0%   { opacity: 0.5; }
	100% { opacity: 1; }
}
@-o-keyframes pulse {
	0%   { opacity: 0.5; }
	100% { opacity: 1; }
}