@import "mixin.scss";
@import "compass/css3";
@import "bits.scss";
@import "typography.scss";

#contacts .top-menu {
	margin-bottom: em(25.888);
}
#contacts .breadcrumbs {
	margin-bottom: 2.8em;
}
.heading {
	font-size:em(41.887);
	text-transform:uppercase;
	line-height:1;
	margin-bottom: em(7.295);
	@include breakpoint(tablet) {
		font-size: em(50.000);
	}
	@include breakpoint(desktop) {
		font-size: em(67.773);
	}
}
.bg-contact {
	@include breakpoint(tablet) {
		background: image-url("contacts-t.jpg") no-repeat;
		background-position: center center;
		@include background-size(cover);
		overflow:hidden; 
	}
	@include breakpoint(desktop) {
		background: image-url("contacts-d.jpg") no-repeat;
		background-position: center center;
		@include background-size(cover);
	}
}

/* Form
==================================== */
form {
	border:none;
}
fieldset {
	border:none;
	outline:none;
	margin:0;
	padding:0;
}
form ul {
    margin-bottom: 1em;
}
form li {
    border-bottom: 0;
    margin-bottom: 1em;
    position: relative;
    background: transparent;
}
.contact-form {
	margin: 0 0 em(41.887) 0;

	label, input, textarea {
	    display: block;
	    border: 0;
	    font-family: $headers-font-stack;
	}
	input, textarea {
	    width: 100%;
	    height: 100%;
	    padding: 2em 0 1em 0;
	    outline: 0;
	    background: transparent;
	}
	input {
		border-bottom:2px solid $headerColor;
		line-height: 2;
	}
	textarea {
	    height: 8em;
	    resize: none;
	}
	label {
	    font-size: em(19.099);
	    position: absolute;
	    font-weight: bold;
	    top: 0.23em;
	    left: 0;
	    color: $headerColor;
	    opacity: 1;
	    @include transition(all .333s ease-in-out);
	}
}
.js-hide-label label {
    opacity: 0;
    top: 1.5em
}
.js-unhighlight-label label {
    color: #999
}

.about-me {
	background-color: #eae9e9;
	@include clearfix();
	.text {
		& p:first-child {
			margin-top: 0;
		}
		margin: em(30.902);
		@include breakpoint(mobile) {
			@include columns(2);
		}
	}
}
.passion h2, .about-me h2 {
	text-transform: uppercase;
	border-bottom:2px solid $headerColor;
	margin-top: $sectionSpacer-m;
}

.passion-text {
	h3, p {
		color: $lightGray;
	}
	h3 {
		font-family: $text-font-stack;
		font-size: em(25.888);
	}
	@include breakpoint(desktop) {
		margin-top:15%;	
	}
}

.list li {
	list-style-type: disc;
	margin: 0 0 0.5em 1em;
	color: $lightGray;
	font-size: em(16.000);
}