.icon-100pecora-logo { background-image: url('png/100pecora-logo.png'); background-repeat: no-repeat; }

.icon-360-marketing-suite2 { background-image: url('png/360-marketing-suite2.png'); background-repeat: no-repeat; }

.icon-60days { background-image: url('png/60days.png'); background-repeat: no-repeat; }

.icon-artist-residence { background-image: url('png/artist-residence.png'); background-repeat: no-repeat; }

.icon-bower { background-image: url('png/bower.png'); background-repeat: no-repeat; }

.icon-ca-logo { background-image: url('png/ca-logo.png'); background-repeat: no-repeat; }

.icon-cc-logo { background-image: url('png/cc-logo.png'); background-repeat: no-repeat; }

.icon-ck-logo { background-image: url('png/ck-logo.png'); background-repeat: no-repeat; }

.icon-clink-logo { background-image: url('png/clink-logo.png'); background-repeat: no-repeat; }

.icon-cryoskin-logo { background-image: url('png/cryoskin-logo.png'); background-repeat: no-repeat; }

.icon-cs-logo { background-image: url('png/cs-logo.png'); background-repeat: no-repeat; }

.icon-danddlogo { background-image: url('png/danddlogo.png'); background-repeat: no-repeat; }

.icon-dpm-logo { background-image: url('png/dpm-logo.png'); background-repeat: no-repeat; }

.icon-dpmmarine-logo { background-image: url('png/dpmmarine-logo.png'); background-repeat: no-repeat; }

.icon-esedra-logo { background-image: url('png/esedra-logo.png'); background-repeat: no-repeat; }

.icon-feelandchic-logo { background-image: url('png/feelandchic-logo.png'); background-repeat: no-repeat; }

.icon-filo { background-image: url('png/filo.png'); background-repeat: no-repeat; }

.icon-flambe-logo { background-image: url('png/flambe-logo.png'); background-repeat: no-repeat; }

.icon-ftploy { background-image: url('png/ftploy.png'); background-repeat: no-repeat; }

.icon-gdb-logo { background-image: url('png/gdb-logo.png'); background-repeat: no-repeat; }

.icon-gg-logo { background-image: url('png/gg-logo.png'); background-repeat: no-repeat; }

.icon-grunt { background-image: url('png/grunt.png'); background-repeat: no-repeat; }

.icon-ignite-hospitality_logo { background-image: url('png/ignite-hospitality_logo.png'); background-repeat: no-repeat; }

.icon-logo-aurora { background-image: url('png/logo-aurora.png'); background-repeat: no-repeat; }

.icon-logo-club { background-image: url('png/logo-club.png'); background-repeat: no-repeat; }

.icon-manu-logo { background-image: url('png/manu-logo.png'); background-repeat: no-repeat; }

.icon-moba-logo { background-image: url('png/moba-logo.png'); background-repeat: no-repeat; }

.icon-modernizr { background-image: url('png/modernizr.png'); background-repeat: no-repeat; }

.icon-noce-ico { background-image: url('png/noce-ico.png'); background-repeat: no-repeat; }

.icon-p5 { background-image: url('png/p5.png'); background-repeat: no-repeat; }

.icon-paper { background-image: url('png/paper.png'); background-repeat: no-repeat; }

.icon-pbx { background-image: url('png/pbx.png'); background-repeat: no-repeat; }

.icon-posa-logo { background-image: url('png/posa-logo.png'); background-repeat: no-repeat; }

.icon-prepos { background-image: url('png/prepos.png'); background-repeat: no-repeat; }

.icon-proto { background-image: url('png/proto.png'); background-repeat: no-repeat; }

.icon-sass { background-image: url('png/sass.png'); background-repeat: no-repeat; }

.icon-spirito-logo { background-image: url('png/spirito-logo.png'); background-repeat: no-repeat; }

.icon-sw-logo { background-image: url('png/sw-logo.png'); background-repeat: no-repeat; }

.icon-venezia-logo { background-image: url('png/venezia-logo.png'); background-repeat: no-repeat; }

.icon-wg-logo-color { background-image: url('png/wg-logo-color.png'); background-repeat: no-repeat; }

