.icon-100pecora-logo { background-image: url('png/100pecora-logo.png'); background-repeat: no-repeat; }

.icon-bower { background-image: url('png/bower.png'); background-repeat: no-repeat; }

.icon-dpm-logo { background-image: url('png/dpm-logo.png'); background-repeat: no-repeat; }

.icon-esedra-logo { background-image: url('png/esedra-logo.png'); background-repeat: no-repeat; }

.icon-feelandchic-logo { background-image: url('png/feelandchic-logo.png'); background-repeat: no-repeat; }

.icon-ftploy { background-image: url('png/ftploy.png'); background-repeat: no-repeat; }

.icon-grunt { background-image: url('png/grunt.png'); background-repeat: no-repeat; }

.icon-manu-logo { background-image: url('png/manu-logo.png'); background-repeat: no-repeat; }

.icon-modernizr { background-image: url('png/modernizr.png'); background-repeat: no-repeat; }

.icon-paper { background-image: url('png/paper.png'); background-repeat: no-repeat; }

.icon-posa-logo { background-image: url('png/posa-logo.png'); background-repeat: no-repeat; }

.icon-prepos { background-image: url('png/prepos.png'); background-repeat: no-repeat; }

.icon-proto { background-image: url('png/proto.png'); background-repeat: no-repeat; }

.icon-sass { background-image: url('png/sass.png'); background-repeat: no-repeat; }

.icon-spirito-logo { background-image: url('png/spirito-logo.png'); background-repeat: no-repeat; }

.icon-venezia-logo { background-image: url('png/venezia-logo.png'); background-repeat: no-repeat; }

